<div class="signup-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
   <mat-card-content>
    <mat-horizontal-stepper [linear]="true"  labelPosition="bottom">
      <mat-step [stepControl]="firstStepForm" errorMessage="Step 1 in error">
          <ng-template matStepLabel>step 1</ng-template>      
          <form [formGroup]="firstStepForm" class="step-form">
            <div fxLayout="column" fxLayoutAlign="space-evenly left" >
            <mat-form-field>
                <mat-label>Login email</mat-label>
                <input matInput type="email" name="login" formControlName="login">        
                <mat-error *ngIf="login?.errors">This is not an email.</mat-error>        
            </mat-form-field>        
            <mat-form-field> 
                <mat-label>Password</mat-label>       
                <input matInput type="password" formControlName="password">        
                <mat-error *ngIf="password?.errors">Password is empty or does not match the rules.</mat-error>        
            </mat-form-field>        
            <mat-form-field>     
                <mat-label>Confirm password</mat-label>        
                <input matInput type="password" formControlName="confirmPassword">        
                <mat-error *ngIf="confirmPassword?.errors">The confirm password does not match with password.</mat-error>        
            </mat-form-field>        
            <mat-checkbox color="primary" formControlName="isAgree">
                Agree
            </mat-checkbox> 
        </div>       
        </form>
          <div class="stepper-buttons">
              <button [disabled]="!firstStepForm.valid" mat-raised-button color="primary" matStepperNext>
                  Go to Step 2
              </button>
          </div>
      </mat-step>
      <mat-step [stepControl]="secondStepForm" errorMessage="Step 2 in error">
          <ng-template matStepLabel>step 2</ng-template>
          <form  [formGroup]="secondStepForm">
            <div fxLayout="column" fxLayoutAlign="space-evenly left" >
            <mat-form-field>        
                <mat-select placeholder="Select country" formControlName="country" (selectionChange)="onCountryChange($event)">
                    <mat-option [value]="0">...</mat-option>        
                    <ng-container *ngFor="let country of countryList">        
                        <mat-option [value]="country.id">{{country.name}}</mat-option>        
                    </ng-container>                   
                </mat-select>
                <mat-error *ngIf="country?.errors">You must select a country.</mat-error>           
            </mat-form-field>        
            <mat-form-field>        
                <mat-select placeholder="Select province" formControlName="province">        
                    <ng-container *ngIf="provinceList">        
                        <mat-option *ngFor="let province of provinceList"
                                    [value]="province.id">{{province.name}}</mat-option>        
                    </ng-container>                  
                </mat-select>   
                <mat-error *ngIf="province?.errors">You must select a province.</mat-error>        
            </mat-form-field>
        </div>        
        </form>        
          <div class="stepper-buttons">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary"
                      [disabled]="!secondStepForm.valid"
                      (click)="submit()">
                  Save
              </button>
            </div>
      </mat-step>
  </mat-horizontal-stepper>
   </mat-card-content>
  </mat-card>
</div>